@model chz_atama.Models.Cihaz

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cihaz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CihazAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CihazAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CihazModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CihazModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CihazSeriNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CihazSeriNo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CihazId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Geri Dön</a>
    </form>
</div>
